<div class="panel panel-default">
  <div class="row panel-heading">
      <div class="col-md-10">
        {{sense.moduleId}}
      </div>
      <div class="col-md-2">
        <input type="image" src="assets/images/trash.png" ng-click="deleteModule(sense.senseId, sense.moduleId)">
      </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img ng-src="assets/images/humix_on.png" class="img-thumbnail" alt="thumbnail" />
      </div>
      <div class="col-md-8">
        <br>
    		<div>
          <div class="sense-status-icon-cell">
            <div class="sense-status-{{ sense.moduleStatus }}"></div>
          </div>
          <div class="sense-status-text-cell">{{ sense.moduleStatus }}</div>
    		</div>
      </div>
    </div>
  </div>
</div>
