<div class="sense-container">
  <div class="sense-btn-container">
    <div class="title">
    	<button class="btn btn-default btn-add-sense" ng-click="vm.open()">Add Sense</button>
    </div>

    <div class="title sense-btn-container">
      <a ui-sref="sense({viewType: 'grid'})">
      	<!-- <button class="btn btn-default btn-view"> -->
          <img class="btn btn-default btn-view" src="assets/images/gridView.png">
        <!-- </button> -->
      </a>
    </div>
  </div>
<br>
  <div class="row">
  	<!-- <ng-sense-item class="col-md-4" ng-repeat="(key, val) in vm.getDevices()" sense-id="{{ key }}" img-id="{{ val }}"></ng-sense-item> -->
    <table class="table">
      <thead class="thead-inverse">
        <tr>
            <th></th>
            <th>Sense ID</th>
            <th>Status</th>
            <th>Modules</th>
            <!-- <th>Log</th> -->
            <th>Remove</th>
        </tr>
      </thead>
      <tbody ng-sense-item ng-repeat="(key, val) in vm.getDevices()" sense-id="{{ key }}" img-id="{{ val }}">
      </tbody>
    </table>
  </div>
  <!-- <div class="row empty-text" ng-show="vm.deviceEmpty">
      You have not yet registered any Humix Sense.
  </div> -->

</div>


<script type="text/ng-template" id="addModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Sencse</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
        	<div class="form-group">
        		<div class="col-sm-3 modal-thumbnail-block">
        			<img width="60" height="60" border="1" ng-src="assets/images/robot-icon-list/{{ vm.imgId }}.png" class="img-thumbnail" alt="thumbnail" />
    			</div>
        		<label class="col-sm-1 control-label" for="sense-id">ID: </label>
        		<div class="col-sm-8">
        			<input type="text" id="sense-id" class="form-control" placeholder="Humix-Godzilla" ng-model="vm.senseId"/>
    			</div>
    		</div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</script>
