<div class="row" id="header">
  <div class="col-md-2">
    <div class="logo-img pull-left">
      <img src="" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="logo-text">
      <h1>HUMIX NG</h1>
      <h4>Homemade Robot</h4>
    </div>
  </div>
  <div class="col-md-6 header-options">
    <ul class="list-inline breadcrumbs">
      <li><a href="#">Sense</a></li>
      <li><a href="#">Think</a></li>
      <li class="active"><a href="#">Family</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </div>
</div>