<tr>
    <!-- Image Icon -->
    <th scope="row" class="vert-align">
      <!-- <img ng-src="assets/images/bluemix-icon-list/i-appicon-{{ sense.imgId }}-50.png" class="img-thumbnail" alt="thumbnail" /> -->
      <img width="60" height="60" border="1" ng-src="assets/images/robot-icon-list/{{ sense.imgId }}.png" class="img-thumbnail" alt="thumbnail" />
    </th>

    <!-- Sense ID -->
    <td class="vert-align">
        <!-- <a ui-sref="module({senseId: sense.senseId})"> -->
        <button ng-click="displayModules()">{{expandButtonText}}</button>
        {{sense.senseId}}
      <!-- </a> -->
    </td>

    <!-- Sense Status -->
    <td class="vert-align">
      <div class="sense-status-icon-cell">
        <div class="sense-status-{{ sense.deviceStatus }}"></div>
      </div>
      <div class="sense-status-text-cell">{{ sense.deviceStatus }}</div>
    </td>
    <!-- Modules -->
    <td class="vert-align">
      <!-- <a ui-sref="module({senseId: sense.senseId})"> -->
        {{moduleCount}}
      <!-- </a> -->
    </td>
    <!-- Log -->
    <!-- <td class="vert-align">
      <button ng-click="displayLog()">{{logButtonText}}</button>
    </td> -->

    <!-- Remove -->
    <td class="vert-align">
      <input type="image" src="assets/images/trash.png" ng-click="deleteSense(sense.senseId)">
    </td>
</tr>

<tr ng-show="showModules">
  <td class="no-top-border"></td>
  <td colspan='4' class="no-top-border">
   <ng-module-content sense-id = "{{ sense.senseId }}" grid-view="false"></ng-module-content>
  </td>
</tr>
<!-- <tr ng-show="showLogViewer">
  <td colspan='5' class="no-top-border">
    <div class="log-viewer-container">
      <iframe src="logViewer/" width="100%" height="100%" scrolling="yes" frameborder="0" />
    </div>
  </td>
</tr> -->
